@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .doneButton {
    @apply
    absolute 
    right-0 
    bottom-0 
    px-4 
    py-1 
    m-2 
    bg-gray-200 
    rounded-md 
    hover:bg-gray-500 
    hover:text-gray-200 
    transition-all 
    duration-100 
    ease-in-out
  }

  .updateButton {
    @apply
    absolute 
    top-0 
    right-0 
    p-5 
    opacity-0 
    transition-all 
    duration-200 
    ease-in-out 
    group-hover:opacity-100
  }

  .openModal {
    @apply
    backdrop-brightness-75 
    h-screen 
    w-full 
    top-0 
    left-0
    z-10
    fixed
  }

  .listNote {
    @apply
    bg-white 
    mx-2 
    p-4 
    rounded-lg 
    mt-10 
    w-80 
    break-words 
    relative 
    hover:shadow-note
  }
}